@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}
header {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    transition: 0.25s cubic-bezier(.4,0,.2,1);
    z-index: 6;
}
header h1 {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    font-size: 25px;
    align-self: center;
}
main {
    margin: 0 auto;
    color: #21242c;
    font-family: Lato, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
section {
    width: min(100%, 764px);
    margin: 0 auto;
    padding: 0 16px;
}
main h1 {
    margin: 24px 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
main div.info-box {
    margin: 0 auto 40px;
    width: min(100%, 684px);
    padding: 16px 48px;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    border-top: 1px solid rgba(33,36,44,0.32);
    border-bottom: 1px solid rgba(33,36,44,0.32);
    text-align: center;
}
main h2 {
    font-size: 26px;
    margin: 40px 0 16px;
}
main h4 {
    font-size: 22px;
    margin: 32px 0 16px;
}
main p {
    margin: 0 0 28px;
    font-size: 20px;
    line-height: 30px;
}
main ul {
    font-size: 20px;
    margin: -11px 0 22px;
    list-style-type: disc;
}
main ul div {
    margin: 20px 0 16px;
    line-height: 30px;
}
main li {
    margin: 0 0 8px;
}
main div.note {
    font-size: 20px;
    line-height: 30px;
    margin: 6px 0 6px;
    font-style: italic;
}
.horizontal_image_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-bottom: 12px;
}
div .image_caption_container {
    text-align: center;
    margin: 0 10px 24px;
    color: rgba(33, 36, 44, 0.64);
    font-size: 14px;
}
div .image_caption {
    margin-top: 4px;
    max-width: inherit;
}
div.rule_container {
    margin: -24px 0 28px;
    display: flex;
    flex-wrap: wrap;
}
div.rule_container ul {
    margin: 0;
}
div.rule_container ul div {
    margin: 12px 0 8px;
}
div.rule_container {
    font-size: 20px
}


#column-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 1450px;
}


a#table-toggle {
    color: #888d93;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    border-bottom: dashed 1px #888d93;
}
#table-container {
    display: none;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}
#table-container.show {
    display: flex;
}
table{
    border-radius: 10px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    margin: 0 14px 30px;
    border-collapse: collapse;
    text-align: center;
}
table caption {
    text-align: center;
    margin: -2px 0 8px;
    color: rgba(33, 36, 44, 0.64);
    font-size: 16px;
}
table, th, td {
    border: 1px solid rgb(221, 221, 221);
}
th {
    font-size: 18px; /* Slightly larger text in headers */
}
th, td {
    padding: 8px 4px; /* More space inside cells */
}
tr:first-of-type {
    background-color: rgb(249, 249, 249);
}
tr:not(:first-of-type) {
    background-color: rgb(215, 215, 215);
}
tr.white td:first-of-type {
    background-color: rgb(249, 249, 249);;
}
tr.white td:not(:first-of-type) {
    background-color: whitesmoke;
}

span.impact {
    content: 'content';
    font-weight: 400;
    color: rgba(33, 36, 44, 0.64);
}
span.impact.low::after {
    display: inline;
    content: 'Low';
    color: rgb(0 184 163);
}
span.impact.moderate::after {
    display: inline;
    content: 'Moderate';
    color: rgb(255 192 30)
}
span.impact.high::after {
    display: inline;
    content: 'High';
    color: rgb(255 55 95);
}
span.impact.none::after {
    display: inline;
    content: 'None';
    color: #a7a7a8;;
}

@media (max-width: 620px) {
    ul {
        padding-inline-start: 26px;
    }
    main div.info-box {
        padding: 16px 24px;
    }
}
